body {
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 100vh;
  width: 100%;
}

.device-info {
  border: 2px solid #0077ff;
  border-radius: 10px;
  padding: 15px 40px;
  max-width: 400px;
  width: 100%;
  overflow: hidden;
}

.description-form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column;
}

.button-disabled {
  cursor: not-allowed;
  background-color: #e5e5e5;
}

p {
  margin-block: 5px;
}

button {
  cursor: pointer;
  border: 0;
  user-select: none;
  background: #0077ff;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: 500;
  transition: all .15s ease-in-out;
  margin-bottom: 5px;
}

.submit-button {
  width: 100%;
}

input {
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #0077ff;
  outline: none;
  margin-block: 8px;
  padding: 5px 8px;
  width: calc(100% - 20px);
  transition: all .15s ease-in-out;
}

input:focus-visible {
  border-color: #003a7e;
}

.notification-wrapper {
  position: absolute;
  top: 10%;
  opacity: 0;
  right: -250px;
  width: 250px;
  padding: 15px 30px;
  background-color: #ff4500ff;
  color: #fff;
  word-break: break-word;
  transition: all .25s ease-in-out;
}

.notification-wrapper-visible {
  right: 0;
  opacity: 1;
}
